.news-infomation li{display: block;  padding: 9px 13px 0 13px; height: 28px; background: url(../images/repeat-x.png) 0 -60px repeat-x;}
.home-page .select-type-01 {width: 205px; float: right; margin-right: 5px;}
